form {
    padding: 10px;
    width: 40%;
    border: 1px solid black;

    .name {
        margin-left: 50px;
    }

    .surname {
        margin-left: 50px;
    }

    .birth {
        margin-left: 33px;
    }

    .height {
        margin-left: 80px;
    }

    .button {
        margin-left: 135px;
    }
}